* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-75 {
  max-width: 1440px;
  width: 75%;
  min-height: 50px;
  background-color: brown;
}

.container-100 {
  max-width: 1440px;
  width: 100%;
  min-height: 50px;
  /* background-color: royalblue; */
  padding: 0 30px;
}

.d-flex {
display: flex;
}

header {
  background-color: rgb(0, 132, 253);
  height: 75px;
  max-height: 75px;
}

header .col {
  width: 50%;
  height: 75px;
  display: flex;
  align-items: center;
}

header .col.right {
  display: flex;
  justify-content: flex-end;
  color: white;
  font-size: 1.5rem ;
}
